.link-icon {
    width: 32px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
}
.link-icon-about {
     width: 35px;
     height: auto;
     margin-left: 7px;
     margin-right: 7px;
     margin-top: 10px;
     background: transparent;
}
.last-section {
    margin-bottom: 150px;
}

/* Accordion Content - initially hidden */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 4s ease-out; /* Adjust the timing as per your preference */
}

/* Styling for when the content is visible */
.show-content {
    max-height: 500px; /* Set to a value that can accommodate the content size */
}

.accordion-header {
    cursor: pointer;
    /* Other styling for the header */
    display: flex;
    align-items: center;
}
