.link-icon {
    width: 32px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
}
.link-icon-about {
     width: 35px;
     height: auto;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 10px;
     background: transparent;
}
.last-section {
    margin-bottom: 150px;
}