.link-icon {
    width: 32px;
    height: auto;
    margin-left: 10px; /* Space to the left of the icon */
    margin-right: 10px; /* Space to the right of the icon */
    background: transparent;
}
.last-section {
    margin-bottom: 150px; /* or any other size */
}